.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row {
  display: flex;
  flex-direction: row;
}
.col-art{
  display: flex;
  z-index: -1;
}

.art-header{
  position: absolute;
  text-align: left;
  color: white;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
}

.col-form{
    width: 50%;
    height: 100vh;
    background-color: green;
    text-align: right;
    color: white;
}


/*
.card-image {
    position: absolute;
    z-index: -1;
  }

  .card-heading {
    position: absolute;
  }

  .card-body {
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 1.2em;
    font-family: roboto;
  } */